@import "variables";

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .work .projects-container {
    grid-template-columns: 1fr 1fr;
    column-gap: 28px;
  }

  .home {
    padding: 0 80px;

    .home-title-container {
      .home-title,
      .home-subtitle {
        font-size: 68px;
        line-height: normal;
      }
    }
  }

  .contact {
    grid-template-columns: calc(1fr * 1.618) 1fr;

    .contact-header {
      height: 100%;
      font-size: 32px;
    }
  }

  #work,
  #contact,
  #footer {
    padding-left: 80px;
    padding-right: 80px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .contact {
    height: 346px;

    .contact-header {
      padding: 40px;
      font-size: 48px;
    }

    .contact-buttons-container {
      height: 100%;
      gap: 16px;

      & .btn-block {
        flex: 1;

        .btn-icon {
          height: 40px;
          width: 40px;
        }

        .btn-label {
          font-size: 24px;
        }
      }
    }
  }
}
