@media screen and (min-width: 542px) {
  .home-title,
  .home-subtitle {
    font-size: 64px;
    line-height: 66px;
  }
}

@media screen and (min-width: 542px) {
  section {
    padding: 24px 64px !important;
  }
}

@media screen and (min-width: 720px) {
  .home-title,
  .home-subtitle {
    font-size: 72px;
    line-height: 74px;
  }

  .projects-container {
    align-self: flex-start;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 1200px) {
  .home-title,
  .home-subtitle {
    font-size: 96px;
    line-height: 98px;
  }
}

@media screen and (min-width: 1400px) {
  .home-title,
  .home-subtitle {
    font-size: 132px;
    line-height: 134px;
  }
}
