@import url("https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&family=Raleway:ital,wght@0,400;0,700;1,400&display=swap");

// Fonts
$primary-font: "Raleway", sans-serif;
$secondary-font: "Cardo", serif;

// Colors
$primary-color: #212529;
$action-color: #5438dc;
$background: #f8f9fa;

// Scroll padding
$scroll-padding: 0px;
