@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&family=Noto+Sans:wght@400;700&display=swap");

// Fonts
$primary-font: "Noto Serif", serif;
$secondary-font: "Noto Sans", sans-serif;

$scroll-padding: 0px;

// Colors
$shark-50: #f4f6f7;
$shark-100: #e3e7ea;
$shark-200: #cbd3d6;
$shark-300: #a6b4ba;
$shark-400: #7a8c96;
$shark-500: #5f717b;
$shark-600: #515f69;
$shark-700: #465058;
$shark-800: #3e454c;
$shark-900: #373d42;
$shark-950: #212529;

$alabaster-50: #f8f9fa;
$alabaster-100: #eceff2;
$alabaster-200: #d6dce1;
$alabaster-300: #b2bec7;
$alabaster-400: #889ba8;
$alabaster-500: #697e8e;
$alabaster-600: #546775;
$alabaster-700: #45535f;
$alabaster-800: #3c4750;
$alabaster-900: #353d45;
$alabaster-950: #23292e;
