@use "base";
@use "mediaquery";
@import "mixins";
@import "variables";

.main-container {
  @include flex($direction: column, $gap: 64px);
}

section {
  // Flex
  @include flex($direction: column, $align: flex-start);
  gap: 16px;

  // Dimentions
  padding: 24px 32px;
  width: 100%;

  // Font
  font-size: 26px;
  line-height: 41px;

  h2 {
    align-self: flex-start;
  }
}

.about,
.work,
.contact {
  max-width: 1400px;
}
