@import "mixins";
@import "variables";

.btn {
  @include flex;
  text-decoration: none;
  padding: 0 24px 0 16px;
  border-radius: 20px;
  transition: background 0.25s;

  .btn-label {
    font-size: 16px;
    margin-left: 8px;
    display: inline-block;
  }
}

.btn-filled {
  height: 40px;
  color: $alabaster-100;
  background: $shark-700;

  &:hover {
    background: $shark-600;
  }
}

.btn-outlined {
  height: 40px;
  color: $shark-950;
  border: 1px solid $shark-800;

  &:hover {
    background: $shark-100;
  }
}

.btn-block {
  justify-content: start;
  width: 100%;
  height: 68px;
  border-radius: 16px;
  color: $shark-950;
  background: $alabaster-50;

  .btn-label {
    font-size: 18px;
    margin-left: 16px;
  }

  .btn-icon {
    height: 32px;
    width: 32px;
  }

  &:hover {
    background: $alabaster-200;
  }
}
