@import "variables";
@import "mixins";

.contact {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  margin-bottom: 64px;
  gap: 24px;

  .contact-header {
    font-family: $secondary-font;
    color: $alabaster-200;
    background-color: $shark-950;
    border-radius: 16px;
    padding: 24px;
    width: 100%;
    font-size: 26px;
    text-align: left;

    span {
      font-weight: 700;
      color: $alabaster-100;
    }
  }

  .contact-buttons-container {
    @include flex($direction: column, $gap: 8px);
    width: 100%;
  }
}
